$heading1: 42px;
$heading2: 36px;
$heading3: 24px;
$heading4: 20px;
$heading5: 16px;
$headingp: 14px;

// Colors
$primary: #FCA62B;
$primary-light: #f7c627;
$secondary: #84D5DE;
$secondary-shadow: rgba(132, 213, 222, 0.2);
$white: #FFFFFF;
$black: #1E1E1E;
$error: #FF9090;
$success: #8AF58E;

$font-weight-thin: 300;
$font-weight-regular: 400; 
$font-weight-bold: 700;

.App{
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

* {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 300;

    ul, li, a{
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style-type: none;
        display: inline;
        display: flex;
        gap: 50px;
        transition: 0.1s ease-in-out;
    }
}

h1 {
font-size: $heading1;
font-weight: 400;
}

h2 {
font-size: $heading2;
}

h3 {
font-size: $heading3;
}

h4 {
font-size: $heading4;
padding: 0;
margin: 0;
}

h5 {
font-size: $heading5;
}

.p1, p, label {
font-size: $headingp;
}

