@import "../../../assets/base.scss";

.Container {
  margin: 8px 8px 8px 8px;
  height: 45vh;
  width: 25%;
  //   flex: 1 1 auto;
  background-color: #1b1b1b;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

.Icon {
  width: 65%;
  height: 15vh;
  background-repeat: no-repeat;
  border: 2px solid white;
  background-size: 70%;
  background-position: center;
  border-radius: 25px;
  margin-bottom: 20px;
}
